@tailwind base;
@tailwind components;
@tailwind utilities;

.disclosure-panel-transition {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.disclosure-panel-closed {
  max-height: 0;
  opacity: 0;
}

.disclosure-panel-open {
  max-height: 1000px; /* Adjust this value based on the content size */
  opacity: 1;
}
